
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello world</title>
</head>
<body>
<div>
    Hello World (from the view)
    Current Time : @ViewBag.CurrentTime


    @Html.ActionLink("RSVP Now", "RsvpForm")
</div>
</body>
</html>
