<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFDataService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFDataService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/WCFDataService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFDataService" contract="DataService.IWCFDataService"
                name="BasicHttpBinding_IWCFDataService" />
            <endpoint address="net.tcp://localhost:9002/WCFDataService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWCFDataService" contract="DataService.IWCFDataService"
                name="NetTcpBinding_IWCFDataService">
                <identity>
                    <userPrincipalName value="aadhavan-laptop\sumanesh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>