@{ Layout = null;}

<html>
<head>
    <title>Home</title>
</head>
<body>
    <a asp-action="Stringlist">String List</a><br />
    <a asp-action="RelatedProducts">Related Products</a><br />
    <a asp-action="FilteredProducts">Filtered Products</a><br />
    <a asp-action="PerformLongRunningTask">Long Running Task</a> <br />
    <a asp-action="PerformSyncLongRunningTask">Sync Long Running Task</a>
</body>
</html>